<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Addition</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <!-- Display Success Alert -->
    {% if success %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>{{ message }}</p>
        </div>
        
        <!-- Card for the Link -->
        <div class="card">
            <h5 class="card-header">{{ remark }}</h5>
            <div class="card-body">
                <p class="card-text mt-3" id="linkToCopy">{{ link }}</p>
                <button class="btn btn-primary" onclick="copyLinkToClipboard()">Copy Link</button>
                <!-- Redirect button -->
            </div>
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            Something went wrong. Please try again.
        </div>
        {% endif %}
        <a href="{% url 'add_inbound' %}" class="btn btn-secondary mt-2">New Inbound</a>
    
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- QR Code JS Library -->
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<script>
    function copyLinkToClipboard() {
        var textArea = document.createElement("textarea");
        textArea.value = document.getElementById('linkToCopy').textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand('copy');
        document.body.removeChild(textArea);
    }
</script>

</body>
</html>
