{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if request.user.is_staff %}
            <a href="{% url 'add_inbound' %}" class="btn btn-primary mt-2">اکانت جدید</a>
        {% endif %}
        <h1 class="text-right mt-4">اکانت‌های غیر فعال</h1>
        <table class="table table-striped table-responsive mt-3">
            <thead>
                <tr>
                    <th class="text-right">نام</th>
                    <th class="text-right">خرید (GB)</th>
                    <th class="text-right">مصرفی (GB)</th>
                    <th class="text-right">دانلود (GB)</th>
                    <th class="text-right">آپلود (GB)</th>
                    <th class="text-right">انقضا (روز)</th>
                    {% comment %} <th class="text-right">سرور</th> {% endcomment %}
                    <th class="text-right">دسته</th>
                    <th class="text-right">تمدید</th>
                </tr>
            </thead>
            <tbody>
                {% for client in disabled_clients %}
                    <tr>
                        <td class="text-right"><a href="{% url 'profile' client.server client.email %}">{{ client.email }}</a></td>
                        <td class="text-right">{{ client.total|floatformat:2 }}</td>
                        <td class="{{ client.is_over_traffic|yesno:'text-danger,text-dark' }}">{{ client.traffic|floatformat:2 }}</td>
                        <td class="text-right">{{ client.down|floatformat:2 }}</td>
                        <td class="text-right">{{ client.up|floatformat:2 }}</td>
                        <td class="{{ client.is_expired|yesno:'text-danger,text-dark' }}">{{ client.time_remaining }}</td>
                        {% comment %} <td class="text-right">{{ client.server }}</td> {% endcomment %}
                        <td class="text-right">{{ client.remark }}</td>
                        <td>
                            {% comment %} <a href="{% url 'update_client' client.account_id client.remark client.server client.int_total client.formatted_expiry_time client.int_traffic %}" target="_blank">تمدید</a> {% endcomment %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1 class="text-right mt-4">اکانت‌های فعال</h1>
        <table class="table table-striped table-responsive mt-3">
            <thead>
                <tr>
                    <th class="text-right">نام</th>
                    <th class="text-right">خرید (GB)</th>
                    <th class="text-right">مصرفی (GB)</th>
                    <th class="text-right">دانلود (GB)</th>
                    <th class="text-right">آپلود (GB)</th>
                    <th class="text-right">انقضا (روز)</th>
                    {% comment %} <th class="text-right">سرور</th> {% endcomment %}
                    <th class="text-right">دسته</th>
                    <th class="text-right">تمدید</th>
                </tr>
            </thead>
            <tbody>
                {% for client in enabled_clients %}
                    <tr>
                        <td class="text-right"><a href="{% url 'profile' client.server client.email %}">{{ client.email }}</a></td>
                        <td class="text-right">{{ client.total|floatformat:2 }}</td>
                        <td class="{{ client.is_over_traffic|yesno:'text-danger,text-dark' }}">{{ client.traffic|floatformat:2 }}</td>
                        <td class="text-right">{{ client.up|floatformat:2 }}</td>
                        <td class="text-right">{{ client.down|floatformat:2 }}</td>
                        <td class="text-right">{{ client.time_remaining }}</td>
                        {% comment %} <td class="text-right">{{ client.server }}</td> {% endcomment %}
                        <td class="text-right">{{ client.remark }}</td>
                        <td>
                            {% comment %} <a href="{% url 'update_client' client.account_id client.remark client.server client.int_total client.formatted_expiry_time client.int_traffic %}" target="_blank">تمدید</a> {% endcomment %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
