{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Disabled Inbounds </h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Remark</th>
                    <th>Consumed</th>
                    <th>Total</th>
                    <th>up</th>
                    <th>down</th>
                    <th>Expiry Time</th>
                    <th>server</th>
                    <th>Port</th>
                    <!-- Add more headers as needed -->
                </tr>
            </thead>
            <tbody>
                {% for inbound in disabled_inbounds %}
                    <tr>
                        <td>{{ inbound.remark }}</td>
                        <td class="{{ inbound.is_over_traffic|yesno:'text-danger,text-dark' }}">{{ inbound.traffic|floatformat:2 }} GB</td>
                        <td>{{ inbound.total|floatformat:2 }} GB</td>
                        <td>{{ inbound.up|floatformat:2 }} GB</td>
                        <td>{{ inbound.down|floatformat:2 }} GB</td>
                        <td class="{{ inbound.is_expired|yesno:'text-danger,text-dark' }}">{{ inbound.expiry_time }}</td>
                        <td>{{ inbound.server }}</td>
                        <td>{{ inbound.port }}</td>
                        <!-- Add more columns as needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1 class="mt-4">Enabled Inbounds </h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Remark</th>
                    <th>Consumed</th>
                    <th>Total</th>
                    <th>up</th>
                    <th>down</th>
                    <th>Expiry Time</th>
                    <th>server</th>
                    <th>Port</th>
                    <!-- Add more headers as needed -->
                </tr>
            </thead>
            <tbody>
                {% for inbound in enabled_inbounds %}
                    <tr>
                        <td>{{ inbound.remark }}</td>
                        <td class="{{ inbound.is_over_traffic|yesno:'text-danger,text-dark' }}">{{ inbound.traffic|floatformat:2 }} GB</td>
                        <td>{{ inbound.total|floatformat:2 }} GB</td>
                        <td>{{ inbound.up|floatformat:2 }} GB</td>
                        <td>{{ inbound.down|floatformat:2 }} GB</td>
                        <td class="{{ inbound.is_expired|yesno:'text-danger,text-dark' }}">{{ inbound.expiry_time }}</td>
                        <td>{{ inbound.server }}</td>
                        <td>{{ inbound.port }}</td>
                        <!-- Add more columns as needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
